body{
    font-family: 'Open Sans', sans-serif;
}
.spacing{
    padding-top:70px;
    
}
h1,h2,h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
}
p,span{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none !important;
    
}
.btn:focus{
    outline: none !important;
} 
 *:focus{
    outline: none !important;
}
h1.section-heading{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #8f0d3d;
    padding:15px;
    position: relative;
}
.section-heading{

}
.fixed{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.2s;
    
}
.fixed 
{
    background-color: #8f0d3d !important;
   
}
.fixed .navbar-light .navbar-nav .nav-link:hover {
    color:#fff !important;
}
 
 
.top-header{
    background-color: #8f0d3d;
    
}
.top-header ul{
    list-style-type:none;
    display: flex;
     justify-content: space space-evenly;
     color: #fff;
     cursor:pointer;
}
.top-header ul li {
    margin-left: 22px;
}
.top-header ul li{
     
}
 
.top-header span{
    font-size: 15px;
    font-weight: bold;
}
 
 
header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
 
.top-header i{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.logo img{
    object-fit: cover;
    width:195px;
}
.navbar-nav{
     margin-left:17.438rem;
  
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
}
 
.navbar-light .navbar-nav .nav-link:hover {
    color:#8f0d3d !important;
}
.navbar-light .navbar-nav .nav-link:active {
    color:#8f0d3d !important;
} 
.inner-header{
    z-index: 1000;
}
.inner-header {
    background: #8f0d3d1c;
}
li.nav-item {
    margin-left:16px;
}
 
.w-100{
    width:100% !important;
    height:700px;
    object-fit: cover;
}
.carousel-item:before {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    opacity: 0.4;
}
.us{
    background: #f8f1f4;
}
.carousel-caption{
    bottom: 15.2rem !important;
    z-index: 100 !important;
}
.carousel-caption h2{
    font-size: 44px;
    font-weight: 600;
    line-height: 2;
    text-shadow: 2px 4px 0px #8f0d3d52;
}
.carousel-caption p{
    font-size:20px;
    font-weight: 700;
    line-height:0.80;
    text-align:center;
    color:#fff !important;

}

.nav-link{
    position: relative;
    transition: 0.3s ease all;
}

 
.nav-link:hover::after{
    position: absolute;
    bottom: -7px;
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: 2px;
    background: #eee;
    content: ' ';
    transition: 6s ease all;
}
 
 
.navbar{
    padding-bottom:10px !important;
    padding-top:10px !important;
}
 /*---------------------------About us section-----------------------------------------------*/
 .about-us-img img{
     width:117%;
     transition: all 1s;
     
 }
 .about-us-img
 {
     overflow: hidden;
 }
 .about-us-img img:hover{
     transform: scale(1.2);
 }
 .carousel-control-prev-icon,.carousel-control-next-icon{
background-color:#fff;
padding:15px;
border-radius: 50%;
 }

.carousel-indicators{
    display: none;
}
/*-----------------------------*/
.aboutBox{
    text-align: center;
    padding: 12px 5px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}
.aboutBox{
    background:#8f0d3d;
}
.aboutBox:before{
    content: "";
    width: 40px;
    height: 40px;
    border-width: 20px;
    border-style: solid;
    border-color: #fff #fff rgba(1, 1, 1, 0.2) rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -40px;
    right: -40px;
    transition: all 0.3s ease 0s;
}
.about-us .container {
    background: #ffffff;
    padding: 20px;
    -webkit-box-shadow: -16px 2px 50px 0px #fff;
    -moz-box-shadow: -16px 2px 50px 0px #fff;
    box-shadow: 0px 0px 20px 0px #2e041491;
    /* filter: brightness(101%); */
    margin-top: -75px;
    border-radius: 20px;
    position: relative;
}
.aboutBox:before{
    top: 0;
    right: 0;
}
.aboutBox i{
    display: block;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 14px;
    transition: all 0.3s ease 0s;
}
.aboutBox .title{
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 0 16px 0;
    transition: all 0.3s ease 0s;
}
.aboutBox .description{
    font-size: 15px;
    color: #ffffff;
    line-height: 8px;
    /* margin: 0; */
    transition: all 0.3s ease 0s;
 }
 
 /*-------------------------Services-----------------------------------------*/
 .demo{  background-color: #f8f1f4; }
.serviceBox{
    padding: 50px 35px;
    background: #fff;
    border: 1px solid #eee;
    height: 330px;
    border-bottom-color: #8f0d3d;
    text-align: center;
    position: relative;
    transition: all 0.5s ease 0s;
}
.serviceBox:hover{ border: 1px solid #8f0d3d; }
.serviceBox:before,
.serviceBox:after{
    content: "";
    width: 70%;
    height: 5px;
    background:#8f0d3d;
    opacity: 0;
    position: absolute;
    top: -3px;
    left: 35%;
    transform: translateX(-50%);
    transition: all 0.5s ease 0s;
}
.serviceBox:hover:before,
.serviceBox:hover:after{
    opacity: 1;
    left: 50%;
}
.serviceBox:after{
    top: auto;
    bottom: -3px;
}
.serviceBox .service-icon{
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    background: #8f0d3d;
    margin: 0 auto 20px;
    font-size: 26px;
    color: #fff;
}
.serviceBox .title{
    font-size: 20px;
    font-weight: bold;
    color: #252525;
    margin: 0 0 10px 0;
    transition: all 0.5s ease 0s;
}
 
.serviceBox .description{
    font-size: 14px;
    color: #7a7a7a;
    line-height: 25px;
    margin: 0;
    transition: all 0.5s ease 0s;
}
 
@media only screen and (max-width:990px){
    .serviceBox{ margin-bottom: 15px; }
}

/*---------------------------------real state--------------------------*/
.property-section {
    position: relative;
}
 
  
.card-img, .card-img-top {
    overflow: hidden;
    transition: all .8s ease;
}
.card-img img:hover{
    transform: scale(1.4);
    transition: all 3s ease;
}
.card-body p{
    font-size: 13px;
}
 .img{
    position: absolute;
   right:9px;
   bottom:16%;
}
.btn-outlines-primary{
    background-color: #8f0d3d;
    color:#fff;
    font-weight:bold;
}
.btn-outlines-primary:hover{
    color:#ccc;
}
.location{
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.list-group{
    justify-content: space-between !important; 
}
.list-group-item{
    width: 33.33%;
    float: left;
    text-align: center;
 
}
.card > .list-group {
     border-top:none; 
    border-bottom:none;
}
    .card{
    margin:0.75rem;
    border-bottom: none;
    
}

.card h4{
    font-size: 20px;
}

.list-group{
    border-radius: none !important;
}
.list-group-horizontal > .list-group-item:first-child {
     
    border-left: none !important;
}
.list-group-horizontal > .list-group-item:last-child {
    
    border-right: none !important;
}
/*-----------------------------Blog----------------------------------------*/
  .blog{
      background-color: #f8f1f4;
  }
.post-slide{
    padding: 0 10px;
    transform: translateY(0);
    transition: all 0.30s ease 0s;
}
.post-slide:hover{
    transform: translateY(-10px);
}
.post-slide .post-img {
    position: relative;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
}
.post-slide .post-img:after{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0; 
    background:linear-gradient(22deg, rgb(143 13 61 / 37%) 13%, rgb(143 13 61 / 32%) 74%);
    transform:translateY(-100%);
    transition:  all 0.30s ease 0s;
}
.post-slide:hover .post-img:after{
    transform:translateY(0);
}
.post-slide .post-img:before{
    content: "\f002";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    width: 100%;
    height: 100%;
    text-align:center;
    position:absolute;
    top:-50%;
    font-size:30px;
    color:#fff;
    transition: all 0.50s ease 0s;
    z-index: 1;
}
.post-slide:hover .post-img:before{
    top:40%;
}
.post-slide .icons{
    position: absolute;
    bottom: -16px;
    left: 30px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    z-index:1;
}
.post-slide .icons img{
    width: 100%;
    height: auto;
}
.post-slide .post-review{
    border:1px solid #DDD;
    border-top: none;
    padding: 35px 20px 25px;
    background: #fff;
    position:relative;
}
.post-slide .post-review:after{
    content: "";
    width: 90%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 5%;
    opacity: 0;
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transform: translateY(0);
    transition: all 0.30s ease 0s;
}
.post-slide:hover .post-review:after{
    opacity: 1;
    transform: translateY(5px);
}
.post-slide .post-bar{
    padding: 0;
    list-style: none;
}
.post-slide .post-bar li{
    display:inline-block;
    font-size:16px;
    
    color:#555;
    margin-right:10px;
    text-transform: capitalize;
}
.post-slide .post-bar li i{
    color:#8f0d3d;
    margin-right:8px;
}
.post-slide .post-title{
    margin:0 0 20px 0;
    color:#555;
    font-weight:bold;
    font-size:17px;
    text-decoration: underline;
}
.post-slide .post-description {
    font-size: 21px;
    line-height: 21px;
    color: #808080;
}
.post-slide .read{
    text-transform: capitalize;
    font-size:15px;
    color:#9c4a6c;
}
.post-slide .read i{
    margin-left:10px;
}
.post-slide .read:hover{
    text-decoration:none;
    color:#333;
}
.post-slide a{
    color:#8f0d3d !important;
    font-weight:bold;
}
/*-----------------------Our Team-------------------------------------*/
 
.our-team{
    border: 1px solid #d3d3d3;
    position: relative;
    overflow: hidden;
}
.our-team img{
    width: 100%;
    object-fit: cover;
    height: 450px;
    object-position: top;
}
.our-team .team-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px 18px;
    background: rgb(143 13 61 / 64%);
    transform: translateX(-100%);
    transition: all 1s ease 0s;
}
.our-team:hover .team-content{
    transform: translateX(0);
}
.our-team .team-content .post-title{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.our-team .team-content .post{
    font-size: 14px;
    color: #fff;
    display: block;
    margin-bottom: 20px;
}
.our-team .description{
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 20px;
}
.our-team .team_social{
    margin:0;
    padding:0;
    list-style: none;
}
.our-team .team_social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .team_social li a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    font-size: 17px;
    color: #f5f5f5;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    transition: border 0.3s ease 0s;
}
.our-team .team_social li a:hover{
    border-color: transparent;
}
.our-team .team-prof{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 20px 16px;
    transform: translateX(0);
    background: rgb(143 13 61 / 64%);
   
    transition: all 0.90s ease 0s;
}
.our-team:hover .team-prof{
    transform: translateX(100%);
}
.our-team .team-prof .post-title {
    font-size: 23px;
    color: #fff;
    font-weight: bolder;
    margin: 0 0 8px 0;
    text-transform: uppercase;
}
.our-team .team-prof .post{
    font-size: 18px;
    color: #fff;
    margin-bottom: 0;
}
@media only screen and (max-width: 990px) {
    .our-team{ margin-bottom: 20px; }
}
 
/*---------------------------------------Footer-------------------*/
 
.footer-bottom {
    background:#4f0923;
    padding: 10px;
    text-align: center;
    width: 100%;
    float: left;
}
.footer-cantent-info p a:hover {
    color: #fff !important;
    padding-left: 5px;
}
.footer-cantent-info p a {
    transition: all 0.5s ease 0s;
}
.footer-bottom p.discrptions {
    margin-bottom: 0px;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    text-transform: capitalize;
}
h2.foter-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 20px;
    color: #fff;
}
.footer-cantent-info h4 {
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.footer-cantent-info p {
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    text-transform: capitalize;
}
.footer-cantent-info p a {
    color: #fff;
}
ul.footer-menu {
    padding-left: 0px;
}

ul.footer-menu li {
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    text-transform: capitalize;
    list-style: none;

}

ul.footer-menu span {
    color: #fff !important;
    transition: all 0.5s;
}
.social-icons a {
    color: red;
    background: antiquewhite;
}
.social-icons i {
    width: 29px!important;
    height: 29px!important;
    font-size: 18px!important;
    line-height: 24px!important;
    color: #8f0d3d;
    border-radius: 30px;
    text-align: center;
    margin: 0px 3px;
    text-decoration: none;
    background: #ffffff;
    border: 3px solid #fff;
}
.social-icons i:hover{
    transform: scale(0.9);
    transition:all 0.5s ease 0s;
}
.social-icons i {
    transition:all 0.5s ease 0s;
}
.footer {
    padding: 50px 0px;
    background:#580f2a;
    width: 100%;
    float: left;
}
hr.footer-hr {
    color: #fff;
}
.footer-cantent-info p a:hover {
    color: #1d3e29;
}
ul.footer-menu span:hover {
    color: #fff;
    padding-left: 5px;
}
h2.foterpart-1title {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.footer p.discrptions {
    margin-bottom: 15px !important;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    text-transform: capitalize;
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.row.footer-row1 {
    padding-bottom: 40px;
}
.footer-btn a.btn.white-btn {
    background-color: #fff;
    color: #1d3e29;
    padding: 0.375rem 1.2rem;
    font-size: 16px;
}
.footer-btn {
    text-align: center;
}
.row.footer-row1 {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
}
.blank-col {
    padding-top: 40px;
}
.footer-menu .link{
    line-height: 14px;
    margin: 0 15px 0 0;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.footer-menu .link:hover,
.footer-menu .link:focus{
    color: #fff;
}
.footer-logo img {
    margin-bottom: 20px;
}
.footer-menu .link:hover:before{
    opacity: 1;
    left: 100%;
}
 
.mobileviewparent .link{
    margin: 0 24px 0 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
    font-weight: 300;
    line-height: 25px;
    padding: 0 2px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.mobileviewparent .link:hover{ color: #1d3e29; }
.mobileviewparent .link:before,
.mobileviewparent .link:after{
    content: "";
    background: linear-gradient(to right bottom, #1d3e29 49%, transparent 51%);
    width: 100%;
    height: 100%;
    transform-origin: top center;
    transform: scaleY(0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: transform 0.3s ease 0s,opacity 0.3s ease 0.1s;
}
.mobileviewparent .link:after{
    background: linear-gradient(to left top, #1d3e29 49%, transparent 51%);
    transform-origin: bottom center;
    top: auto;
    bottom: 0;
}
.mobileviewparent .link:hover:before,
.mobileviewparent .link:focus:before,
.mobileviewparent .link:hover:after,
.mobileviewparent .link:focus:after{
    opacity: 0;
    transform: scaleY(1);
}
.mobileviewparent .link.active{ color: #1d3e29; }
.social-icons a:hover .social-icons i{
    transform: scale(0.9);
    transition: all 0.5s ease 0s;
}
.social-icons a i {
    transform: scale(1);
}
/*------------------------Contact page----------------------------------------*/
 
/*===============================================Contact page state=================*/
.banner-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    object-fit: cover;
    position: relative; 
    background-position: center;
  }
  .banner-img::before{
      content:'';
          background: #000;
          width: 100%;
          height:100%;
          position: absolute;
          display: block;
          opacity: 0.45;
  }
   .banner-img-contact{
      background-image: url("../images/ contact-banner.webp");
   }
 
  .contact-box{
      border:1px solid #DDD;
      padding:10px;
      background: #fff;
      padding-top:2rem;
      text-align: center;
      min-height: 150px;
      -webkit-box-shadow: 6px 17px 54px -9px rgba(194,194,194,1);
-moz-box-shadow: 6px 17px 54px -9px rgba(194,194,194,1);
box-shadow: 6px 17px 54px -9px rgba(194,194,194,1);
  }
  .contact-box h2{
      font-size:22px;
      color: #8f0d3d;
  }
  .contact-box i{
      color:#8f0d3d;
      font-size: 22px;
  }
  .contact-box p{
      color: #8e8585;
  }
  h1{
      font-size:30px;
  }
  ::placeholder{
      color:#8f0d3d !important;
      font-weight: 700;
  }
  input,textarea:focus{
      outline:none !important;
      box-shadow: none !important;
  }
  .form-control{
      padding: 22px !important;
  }
  .contact-btn{
 border: 1px solid #8f0d3d;
        background-color: #8f0d3d;
        color: #fff;
        font-weight: 700;
        padding: 20px;
        margin-top: 15px;
     
  }
  .contact-btn:hover{   
      color:#8f0d3d;
      background-color: #fff;
  }
  .mape{
      width:100%;
      border:1px solid black;
  }
  .contact-text{
      border:1px solid #ccc;
      padding: 15px;
      background-color: #fff;
      -webkit-box-shadow: 6px 17px 54px -9px rgba(194,194,194,1);
      -moz-box-shadow: 6px 17px 54px -9px rgba(194,194,194,1);
      box-shadow: 6px 17px 54px -9px rgba(194,194,194,1);
      margin-top: 23px;
  }
  .contact-text h2{
    font-size: 28px;
    color: #8f0d3d;
    text-align: center;
  }
  .contact-text p{
        font-size: 15px;
        text-align: center;
        color: #8e8585;
  }
  .contact-heading{
      margin-top:225px;
      z-index:999;
  }
  .contact-heading h1{
        font-size: 44px;
  }
.contact-heading  a h3{
     color:#ffffffbd;
     font-size: 20px;

         
 }
 /*================================contact-page end========================*/
 /*=================================SErvices page start====================*/
 .service-baner{
     background-image: url("../images/properti-banner-.jpg");
 }
 .service-section-box{
     height: 320px;
     margin-bottom: 15px;
     margin-top: 10px;
 }
 .calculator-img{
     text-align: center;
     padding:30px;
 }
 .calculator-img img {
    width: 174px;
}
 .calculator-box{
     border:1px solid #ccc;
     padding:2.563rem;
     background-color: #fff;
     -webkit-box-shadow: 6px 17px 54px -9px rgba(194,194,194,1);
     -moz-box-shadow: 6px 17px 54px -9px rgba(194,194,194,1);
     box-shadow: 6px 17px 54px -9px rgba(194,194,194,1);
 }
 .calculator-box p{
     text-align: justify;
     color: #7a7a7a;
 }
 .calculator-box h2{
    
        font-size: 26px;
        font-weight: 600;
        text-align: justify;
        color: #8f0d3da8;
     
 }
 .btns{
     padding: 8px !important;
        padding: 14px !important;
        /* align-items: flex-end; */
        display: flex;
        /* align-content: flex-start; */
 }
 /*========================================================Serivce page end=================*/
 /*=================================================Team page start==================================*/
.team-banner{
    background-image:url("../images/properti-banner-.jpg");
}
.calculator{
    background-color:#f8f1f4;
}
.cl {
    background-color: #fff !important;
}
/*==================================team page end===================================================*/
/*===================================Blgo page ===========================================*/
/*=====================================blog end===========================*/
/*==============================================Properties page start================*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffffff !important;
    background-color: #8f0d3d !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: center;
    justify-content: center;
}
.nav-tabs {
    border-bottom:none;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px 30px;
    border: 1px solid #8f0d3d;
    margin: 10px;
    color: #8f0d3d;
}
.nav-tabs {
    padding: 15px 0px;
    text-align: center;
    align-items: center !important;
    justify-content: center;
    filter: drop-shadow(2px 4px 6px #00000063);
    background: #fff;
    border-radius: 10px;
}
.propertie-tabs h1{
    padding-top: 42px;
    padding-bottom: 42px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("../images/toggle-menu.png") !important;   
}
.navbar-toggler:focus {
    box-shadow: none;
   
}
/**--------------------Inner-blog-page----------------------*/
.post-box {
    border: 1px solid #ccc;
    padding: 40px 40px 20px 40px;
    background: #fff;
}
.post-box h2 {line-height: 2;font-size: 27px;font-weight: bold;color: #8f0d3d;}
.post-box p {font-size: 15px;font-weight: 400;}
.post-img img {width: 100%;}
ul.post-dates {list-style: none;/* display: flex; */display:  flex;/* justify-content: space-evenly; */}

.post-dates li {margin: 10px;}

.post-dates i,span{color: #8f0d3d; font-size: 14px;}
.post-box li {display: flex; margin-bottom: 10px;}
.recent-descreption span {display: block;}

.recent-descreption a {font-size: 14px;color: black;}
 .recent-img img{width:102px; margin-right: 10px; height: 80px; object-fit: cover;}
 h2.post-single-title{font-size: 28px; color:#1a243f;margin-bottom: 15px; margin-top:30px;}
 .btn-links {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-custome{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        letter-spacing: 1px;
        text-decoration: none;
        border-radius: 0px;
        color: #fff;
        background: #8f0d3d;
        border: 0px solid #8f0d3d;
        cursor: pointer;
        transition: ease-out 0.5s;
        -webkit-transition: ease-out 0.5s;
        padding: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
  
}
.btn-custome:hover {
    border: 0px solid #00bcd4;
    color: #fff;
}
 
.btn-custome::before {
    position: absolute;
    content: "";
    width: 0;
    height:0;
    transition: .5s;
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}
.btn-custome::after {
    position: absolute;
    content: "";
    width: 0;
    height:0;
    transition: .5s;
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}
.btn-custome:hover::after, .btn-custome:hover::before {
    width: 30px;
    height: 30px;
    border-color: #8f0d3d;
}
p.description span {
    color: #fff !important;
}
.card-body h4, p {
    color: #000;
}
